figure.api-image img {
    border: 1px solid #cccccc;
    opacity:0;
    animation:load_up 2s forwards;
    -webkit-animation:load_up 2s forwards;
}

@keyframes load_up{
    from{opacity:0}
    to{opacity:1}

}@-webkit-keyframes load_up{
    from{opacity:0}
    to{opacity:1}
}

.header-image-preload {
    padding-bottom: 100vh;
}

.hljs {
    background: #fffff8 !important;
}

.no-top-padding {
    padding-top: 0;
}