figure.api-image img {
    border: 1px solid #cccccc;
    opacity:0;
    animation:load_up 2s forwards;
    -webkit-animation:load_up 2s forwards;
}

@keyframes load_up{
    from{opacity:0}
    to{opacity:1}

}@-webkit-keyframes load_up{
    from{opacity:0}
    to{opacity:1}
}

.header-image-preload {
    padding-bottom: 100vh;
}

.hljs {
    background: #fffff8 !important;
}

.no-top-padding {
    padding-top: 0;
}

.chart-container {
    position: relative;
    min-height: 40vh;
}

.terminal_row {
    display: flex;
    background-color: #fffff8;
    filter: brightness(95%);
    position: fixed;
    bottom: 0;
    left: 0;
    height: 21px;
    align-items: stretch;
    box-shadow:  2px 0px 5px 5px #fffff8;
}

.terminal_row #terminal_text_input {
    display: none;
}

.terminal_prompt {
    padding-right: 4px;
    margin-bottom: 6px;
}

.terminal_content {
    display: none;
    position: absolute;
    height: 100%;
    left: 100%;
    outline: none;
    border: none;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 1.0rem;
    line-height: 1.42;
    -webkit-text-size-adjust: 100%;
    padding: 0;
}

.terminal_row > input:checked + * {
    width: 100vw;
    display: block;
    box-shadow:  2px 0px 5px 5px #fffff8;
    background-color: #fffff8;
    /*filter: brightness(85%);*/
}
