{% extends "base_document.html" %}
{% block title %}Nasa Near Earth Object API{% endblock %}
{% block additional_scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/0.5.7/chartjs-plugin-annotation.js"></script>
<script src="https://d3js.org/d3-color.v1.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v1.min.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="{{ url_for('static', path='/asteroid_plot.js') }}"></script>
{% endblock %}
{% block content %}
<meta name="type" content="blog_post">
<meta name="keywords" content="space nasa api js python asteroids apocalypse async chartjs">
<meta name="timestamp" content="202101222219">
<article class="no-top-padding">
    <h1>NASA Asteroid API</h1>
    <preview>
        <section>
                <p>
                    We plot some oncoming near earth objects
                    (c.o. another delightful NASA api).
                </p>
        </section>
    </preview>
    <figure class="fullwidth">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </figure>
    <section>
        <p>
            I do a decent amount of data vis in my day job, but mostly
            in python (I use Bokeh for the interactive stuff, matplotlib for the quick and dirty "what
            does the dataframe look like" sort of questions), but not much clientside charting.  So,
            mostly because I wasn't able to style a bokeh plot as I
            wanted<label for="bokeh_struggle" class="margin-toggle sidenote-number"></label>
            <input type="checkbox" id="bokeh_struggle" class="margin-toggle"><span class="sidenote">
            You might have noticed that Tufte.css doesn't use totally white backgrounds
            or totally black text, it uses <code>#fffff8</code> and <code>#111111</code>.
            So, I wanted to make the background of my bubble plot look like that, but couldn't,
            so here we are.</span>, I decided to use Chart.js, which I'm decidedly <em>meh</em> on.
        </p>
        <p>
            I think I noticed it when I was writing my last post; NASA also has a pretty cool near
            earth object api, and I got it in my head to make a live bubble chart delightfully
            visualizing our imminent demise.  This was fun-ish because I (a) learned a bit about
            Chart.js<label for="chart_js" class="margin-toggle sidenote-number"></label>
            <input type="checkbox" id="chart_js" class="margin-toggle"><span class="sidenote">
            Mostly I've learned that I don't love it.  So far it just seems a bit more limited
            than python tools, but t.b.h. that might just be my lack of familiarity, and the fact
            that I'm more used to matplotlib style data inputs. Then again, it's always good to have
            a clientside option for visualizations, especially interactive ones.  Also, the animations
            seem a bit superfluous.</span> and (b) I muddled through some more async python.
        </p>
        <p>
            <del>I'm going to write more about the process and the code later, but I've got to clean it up first,
            and I wanted to post something because it's been forever.</del>  So, I cleaned up the python, learning
            a smidge about better documentation in the process.  The repo lives
            <a href="https://github.com/Rosster/fast_api_website">here</a>.  Have fun with it, I guess.
            To be honest, I do not have the energy to go through a how to (I'm doing that for work at the moment,
            and the process fills me with dread).  I'll summarize some more of my thoughts and feelings though.
            <ol>
                <li>
                    The async python stuff is a <em>drag</em>, but it does make a difference.  I'm not using it in a
                    particularly nuanced way here, but the pattern works.  You basically want the coroutines to bubble
                    all the way up to the fastApi endpoints. When they do, you can actually see that it's running
                    everything simultaneously.  It would be worth bookmarking that against Flask's threading behavior,
                    though.
                </li>
                <li>
                    I'm honestly struggling with the proper separation of the visualization and data layers.  It was a
                    pain to reformat data to fit the ChartJS requirements (as is probably abundantly clear from this
                    post), then again it wasn't <strong>hard</strong>, just annoying.  And you get all the delightful
                    customizability that comes along with clientside development.  The contrast is a more python-only
                    option<label for="python_only" class="margin-toggle sidenote-number"></label>
                    <input type="checkbox" id="python_only" class="margin-toggle"><span class="sidenote">Those of us
                    keeping track at home will recall that this whole charade began because I
                    couldn't style the background color of a bokeh plot.</span>, which counts for a whole lot,
                    especially if you don't care to bother with a hot mess of javascript.  Long story short, I really
                    don't envy the balance that data visualization libraries have to walk in keeping things customizable
                    while easy to use.  But I do love the idea of building a bunch of data endpoints, because it
                    feels that lots of different clients in the future will be able to make use of them.  I'm not
                    sure how to balance that against the cost of making something that will fill the immediate
                    dashboard/publication requirements.
                </li>
            </ol>
        </p>
    </section>
</article>
{% endblock %}