{% extends "base_document.html" %}
{% block title %}Ross P Sullivan Kelly{% endblock %}
{% block content %}
<meta name="type" content="blog_post">
<meta name="keywords" content="hello_world">
<meta name="timestamp" content="202007190931">
<article>
    <h1>Post No. 1</h1>
    <preview>
        <section>
                <p>
                    <span class="newthought">I'm trying to do a few things here.</span>
                    1) Keep some sort of blog thing, 2) mess around with <a href="https://fastapi.tiangolo.com">FastAPI</a>, and
                    3) mess around with this nifty <a href="https://edwardtufte.github.io/tufte-css">tufte.css</a>.
                </p>
        </section>
    </preview>
    <section>
        <p>
            <span class="newthought">This is really</span> just some additional content for test
            purposes.  Thanks for reading though!
        </p>
    </section>
</article>
{% endblock %}