{% extends "base_document.html" %}
{% block title %}Timelapse GIFs{% endblock %}
{% block content %}
<meta name="type" content="blog_post">
<meta name="keywords" content="raspberrypi pictures python linux">
<meta name="timestamp" content="202105021256">
<article class="no-top-padding">
    <h1>Timelapse GIFs</h1>
    <section><figure><img src="/recent_sunset_gif" alt="Sunset from last night."></figure></section>
    {%- call preview_section() -%}
        I wanted to make gifs of the view outside my window and managed to make it really complicated.
    {% endcall %}
    <section>
        <p>
            This is going to be a long one! Is that an excuse for how long it took me to post?  No.  No it is not.  That being said, I am accountable to nobody but myself, and I'm apparently an extremely lenient manager.  Anyway, this grew out of a habit I got into of taking pictures out my window with the eventual hope of stitching them together into a lovely seasonal <em>troupe</em>. I did not do that, because I'm lazy.  Thanks to the magic of modern technology I can revisit that failure!  Did it take me longer to put all this together than it would have to just keep a little photo schedule?  Oh, most definitely.  Long story short, I rigged a dusty raspberry pi to an even dustier DSLR and python-ed it into taking a picture every ten minutes around sunset.  It even uploads the resulting tidbits to the <em>clouuuuud</em>.  How fun!
        </p>
    </section>
</article>
{% endblock %}