{% extends "base_document.html" %}
{% block title %}Ross P Sullivan Kelly{% endblock %}
{% block content %}
<meta name="type" content="blog_post">
<meta name="keywords" content="hello_world">
<meta name="timestamp" content="202007190931">
<article>
    <section>
        <p>
            <span class="newthought">I'm trying to do a few things here.</span>
            1) Keep some sort of blog thing, 2) mess around with FastAPI, and
            3) mess around with this nifty <code>tufte.css</code>.
        </p>

    </section>
</article>
{% endblock %}